html {
    --accent: #bd93f9;
    --background: #282a36;
    --color: #f8f8f2;
}

.logo {
    background: #bd93f9 !important;
}

.post-meta {
    color: rgba(189, 147, 249, 0.7) !important;
}

.header__logo:after {
    background: repeating-linear-gradient(90deg, #bd93f9, #bd93f9 2px, transparent 0, transparent 10px) !important;
}

.header .menu-trigger,
.header .menu__sub-inner-more-trigger {
    color: #bd93f9 !important;
}
