:root {
  --accent: #bd93f9 !important;
  --background: #282a36 !important;
  --foreground: #f8f8f2 !important;
}

a {
  color: #bd93f9 !important;
}

a:hover {
  color: #ff79c6 !important;
}

.logo a {
  color: #bd93f9 !important;
  border-color: #bd93f9 !important;
  background: #282a36 !important;
}

hr {
  background: #bd93f9 !important;
}
